<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<section class="py-3 text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">All Activity</h1>
            <p class="lead text-body-secondary" >เลือกกิจกรรมที่ต้องการจะเข้าร่วม</p>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <!-- วนลูปผ่านข้อมูลทั้งหมด -->
            <div th:each="activity : ${all_activities}" class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">image</text>
                    </svg>
                    <div class="card-body">
                        <!-- แสดงข้อมูลของแต่ละรายการ -->
                        <p class="card-text" th:text="${activity.activityDescription}">ActivityDescription.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                            </div>
                            <small class="text-body-secondary" th:text="${activity.date}">Date</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>